body {
    font-family: Verdana,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
body.inner_body {
    background: url("http://i3.asp.net/common/www-css/i/bg_main_inner.png?cdn_id=03292010_1") repeat-x scroll 0 0 transparent;
}
#content_container {
    margin: 0 auto;
    position: inherit;
    width: 960px;
}
.content_container p, .content_container li, table {
    font-size: 0.7em;
}
li table, table p, table .date {
    font-size: 0.99em !important;
}
.bucket_content p {
    margin: 0;
    padding: 5px 0;
}
.bucket_content p.search {
    padding: 14px 0;
}
p.first {
    margin-top: 0;
    padding-top: 0;
}
.previous_next_community p.first {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
a img {
    border: medium none;
}
hr {
    background-color: #DADCDD;
    border: 0 none;
    color: #DADCDD;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 0;
    padding: 0;
}
.blue_rounded_box hr {
    background-color: #94A9C7;
    color: #94A9C7;
}
hr.first {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,sans-serif;
    margin: 10px 0;
    padding: 5px 0;
}
h1.first, h2.first, h3.first, h4.first, h5.first, h6.first {
    margin-top: 0;
    padding-top: 0;
}
li h1, li h2, li h3, li h4, li h5, li h6 {
    margin: 0 0 5px;
    padding: 0;
}
h1.line, h2.line, h3.line, h4.line, h5.line, h6.line {
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 10px !important;
    padding-bottom: 3px;
}
.bucket_content h2, .bucket_content h3 {
    margin: 10px 0 0;
}
.bucket_content h2 {
    font-size: 0.9em;
}
.columns_container_home h1, .columns_container_home h2, .columns_container_home h3, .columns_container_home h4, .columns_container_home h5, .columns_container_home h6 {
    margin: 5px 0;
    padding: 5px 0;
}
h1.no_heading {
    margin: 10px 0 3px;
    padding: 0;
}
h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 0.95em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}
h6 {
    font-size: 0.8em;
}
.columns_right h1 {
    font-size: 1em;
}
.header_content_right h1 {
    margin: 0;
    padding: 0;
}
.box_dark_inner h1 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
.box_dark_inner h2 {
    font-size: 0.75em;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
